<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css.map" />
    <link rel="stylesheet" href="main.css" />
    <link href="main.scss" rel="stylesheet/scss" type="text/css" />
  </head>
  <body>
    <div class="column">Колонка 1</div>
    <div class="column">Колонка 2</div>
    <div class="column">Колонка 3</div>
  </body>
</html>
